nav {
	list-style-type: none;
	background: #4169e1;
	padding: 5px;
}
li.navitem {
	display: inline;
	text-decoration: none;
}
.navlink {
	padding: 10px;
	color: black;
	text-decoration: none;
	font-size: 20px
}
body {
	background-color: white;
}
#title {
	float: right;
	font-size: 100px;
	padding-right: 30px;

}
#logo {
	float: left;
}
#content {
	float: left;
	width: 60%;
}
#sidebar {
	float: right;
	width: 30%;
	padding: 5px;
	border-width: 4px;
	border-color: #4169e1;
	border-style: solid;
}

#content{ 
	padding: 5px;
	border-width: 4px;
	border-color: #4169e1;
	border-style: solid;
}

.smitem {
	list-style-type: none;
}

.sponsorsitem {
	display: inline;
}

#teamtitle {
	text-align: center;
	font-size: 35px;
}

.subcontent {
	margin: 5px;
	padding: 5px;
	border-width: 4px;
	border-color: #595959;
	border-style: solid;
}

.profiles {
	padding: 5px;
	border-width: 2px;
	border-color: #4169e1;
	border-style: solid;
}

#socialmedia {
	margin: 5px;
	padding: 5px;
	border-width: 4px;
	border-color: #595959;
	border-style: solid;
}

#sponsors-sidebar {
	margin: 5px;
	padding: 5px;
	border-width: 4px;
	border-color: #595959;
	border-style: solid;
}

.smitemicon {
	max-height: 50px;
}
.smitem {
	padding: 4px;
}
.sponsorlogo {
	max-height: 75px;
}